body {
    background-color: black; /* Define o fundo preto */
    color: white; /* Define a cor do texto como branco */
    display: flex; /* Usa flexbox para organizar os elementos dentro do corpo da página */
    justify-content: center; /* Centraliza os elementos horizontalmente */
    align-items: center; /* Centraliza os elementos verticalmente */
    height: 100vh; /* Faz com que o copro ocupe toda a altura da tela */
    margin: 0; /* Remove qualquer margem padrão do navegador */
}

.container {
    display: flex; /* Ativa o flexbox */
    flex-direction: column; /* Organiza os elementos do container verticalmente */
    align-items: center; /* Centraliza os elementos filhos na horizontal */
    text-align: center; /* Garante que o texto dos filhos fique centralizado */
    width: 100%; /* O container ocupa toda a largura disponível */
    gap: 5px; /* Adiciona um pequeno espaçamento entre os elementos h1 e div dentro do container */
}

.box {
    display: flex; /* Ativa o flexbox */
    align-items: center; /* Centraliza o conteúdo da box verticalmente */
    text-align: center; /* Centraliza o texto */
    font-size: 25px; /* Define o tamanho do texto */
    border: 1px solid white; /* Cria uma borda branca ao redor da box */
    padding: 5px; /* Adiciona um pequeno espaçamento interno */
    width: 50%; /* Define que a box ocupa 50% da largura da tela */
    flex-direction: column; /* Os elementos dentro da box ficam empilhados verticalmente */
    margin: 0; /* Remove margens extras */
}

h1 {
    font-size: 35px; /* Apenas aumenta o tamanho do titulo */
}

ul {
    list-style: none; /* Remove os marcadores da lista ul */
}

.redes {
    text-decoration: none; /* Remove qualquer sublinhado dos links */
    font-weight: bold; /* Deixa os textos mais grossos */
    transition: transform 0.2s; /* Adiciona um efeito suave nas animações */
}

.redes ul {
    display: flex; /* faz com que os elementos da lista estejam alinhados na mesma linha (horizontalmente)   */ 
}

.redes ul a {
    display: block; /* Garante que os links ocupem todo o espaço disponível */
    padding: 20px; /* Adiciona um espaçamento interno ao redor dos ícones */
}

.redes a:hover {
    transform: scale(1.2); /* Quando o usuário passar o mouse por cima do icone seu tamanho aumentará em 20% */
}