
header{
    background:radial-gradient(rgb(255, 217, 0), rgb(255, 248, 156));
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
}

.a-input{
    display: flex;
    width: 70vw;
    flex-grow: 1;
    justify-content: center;
    opacity: 0.9;
}

header input{
    height: 30px;
    width: 550px;
    padding: 20px;
    color: gray;
}

.a-lista{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    cursor: pointer;
    margin-right: 20px;
    color: inherit;
}

.a-lista:hover{
    text-decoration: underline;
    opacity: 0.6;

}

header ul{
    list-style: none;
    font-family: Arial;
    display: flex;
    gap: 10px;
    margin-right: 20px;
}